.nft_card {
  display: flex;
  flex-direction: column;
  padding: 1.8rem;
  border-radius: 24px;
  background: rgba(28, 22, 47, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.nft_image_container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: 100%;
  margin-bottom: 1rem;
}
.nft_image {
  width: 100%;
  max-width: 240px;
  max-height: 178px;
  height: auto;
  border-radius: 16px;
}

.wallets_container {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  margin-top: 1rem;
}
.wallet_image {
  width: 100%;
  max-width: 13rem;
}

.wallet_button {
  display: inline-flex;
  flex-direction: row;
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  .wallet_image {
    max-width: 10rem;
  }
}
